<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QUANLYCUAHANGBANTHUCUNGConnectionString"
            connectionString="Data Source=192.168.10.1;Initial Catalog=QUANLYCUAHANGBANTHUCUNG;User ID=nghia;Password = 123;&#xA;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QUANLYBANDIENTHOAIConnectionString1"
            connectionString="Data Source=DESKTOP-M5AI04O;Initial Catalog=QUANLYCUAHANGBANTHUCUNG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QUANLYBANDIENTHOAIConnectionString2"
            connectionString="Data Source=192.168.10.1;Initial Catalog=QUANLYCUAHANGBANTHUCUNG;Persist Security Info=True;User ID=nghia;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QUANLYCUAHANGBANTHUCUNGConnectionString"
            connectionString="Data Source=DESKTOP-M5AI04O;Initial Catalog=QUANLYCUAHANGBANTHUCUNG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>