<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-m5ai04o.QUANLYBANDIENTHOAI.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-M5AI04O;integrated security=SSPI;initial catalog=QUANLYBANDIENTHOAI" />
    </connectionStrings>
</configuration>